* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: #fff;
	font-size: 1.6rem;
	background-color: var(--color-primary);
}

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #333333b9;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

:root {
	font-family: Poppins, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: #1f1f1f;
	--color-secondary: #242424b9;
	--color-thrid: rgba(170, 170, 170, 0.621);
	--color-blur-white: #ffffffd2;
}
